
/* CSS布局 遵循的顺序 */
/* 1.布局定位属性:display position float clear visibility overflow (display写第一个 关系到模式) */
/* 2.自身属性 width height margin padding border bgc */
/* 3.文本属性 color font test-decoration text-align vertical-align white-space break-word */
/* 4.其他属性 content cursor border-radius box-shadow text-shadow  */


/* 布局思路 */
/* 1.确定版心(可视区),通过测量可以得知 */
/* 2.分析网页中的行模块,以及每行中的列模块 页面布局第一准则 */
/* 3.一行中的列模块 经常浮动布局,先确定每个列的大小之后确定列的位置 页面布局第二准则 */
/* 4.先制作html结构,遵循现有结构 后有样式的原则,结构最重要 */
* {
    padding: 0;
    margin: 0;
}

.w {
    width: 1200px;
    margin: auto;
    background-color: pink;
}

.header {
    height: 42px;
    background-color: red;
    margin: 30px auto;
}
.logo {
    width: 198px;
    height: 42px;
    background-color: purple;
}